.movie-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
}
.movie {
  width: 60px;
  height: 300px;
  box-shadow: 0px 6px 0px #a8a8a8, 0px 10px 4px black;
  transition: all .15s ease-in-out;
}

.black{
  background-color: black;
  color: aliceblue;
  box-shadow: 0px 6px 0px grey, 0px 10px 4px black;
  width: 55px;
  height: 150px;
}
.black h5{
  font-size: 16px;
}
.black p{
  font-size: 11px;
}
:is(.movie, .black):active {
  box-shadow: none;
  transform: translateY(5px);
}
.keys {
  box-shadow: none;
  transform: translateY(5px);
}
div{
  position: relative;
}